@{
    ViewData["Title"] = "Delete Page";
}

<div class="text-center">
    <div style="text-align: left">
        <form asp-controller="RegisterAppartment" asp-action="ShowAppartment" method="post">
            ID:               <input name="id" /><br />
            <button type="submit">Show Appartment</button>
        </form>
    </div>
</div>
